<!DOCTYPE html>
<html>
    <head>
        <title>Business Advisor</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- Bootstrap -->
            <link rel="stylesheet" href="static/css/business-casual.css">
            <link rel="stylesheet" href="static/css/bootstrap.css">
            <link rel="stylesheet" href="static/css/bootstrap.min.css">
            
			<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
              <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
            <![endif]-->
    </head>
    <body>
	  <!-- Navbar -->
        <div class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Business Advisor Analytics</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">			  
                <li><a href="../navbar/">My Profile</a></li>
                <li class="active"><a href="./">Previous Analysis</a></li>
                <li><a href="../navbar-fixed-top/">Upload Data</a></li>
              </ul>
			  <br></br>
            </div><!--/.nav-collapse -->
          </div>
        </div>
         <div class="container">
            <div class="jumbotron">
              <h1>Upload File</h1>
              <p class="lead">Choose the transaction and/or client file below you wish to upload for analysis. All correct uploaded files will be shown to the right, and when finished you may choose to continue by pressing the button.</p>
			  <div class="row">
                <div class="col-md-4">
				
				<br></br>
                    <h3>Transaction File</h3>
                    <p>Please upload a transaction file in .xls or .xlsx format.</p>
                    <p><form action="" method=post enctype=multipart/form-data> 
						<!-- enctype=multipart/form-data is usually set to ensure that the browser will transmit all your files-->
						<input type='file' name='file'> 
						<!--    <input type='submit' value="Upload and Process Selected File"> -->
						<input type='submit' value="Uploads"> 
						</form>
					</p>
                </div>
				<br></br>
                <div class="col-md-4">
                    <h3>Client File</h3>
                    <p>Please upload a client file in .xls or .xlsx format.</p>
                    <p><form action="" method=post enctype=multipart/form-data> 
						<!-- enctype=multipart/form-data is usually set to ensure that the browser will transmit all your files-->
						<input type='file' name='file'> 
						<!--    <input type='submit' value="Upload and Process Selected File"> -->
						<input type='submit' value="Uploads"> 
						</form>
					</p>
				</div>
<!--               <div class="col-md-4">
                    <h3>Uploaded Files</h3>
						<table>
							<tr>
							<td>Trans1_file</td>
							 </tr>
							 <tr>
							<td>Trans2_file</td>
							 </tr>
							 <tr>
							<td>Client1_file</td>
							 </tr>
						</table><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
                   
                </div> -->
                <div class="col-md-4">
                 <p><a href="#" class="btn btn-primary">Continue &raquo;</a></p>
                 </div> 
            </div>
            </div>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>